# Environment Variables
.env
*.env.local
backend/.env
frontend/.env

# Python / Pytest
# Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc

# Pytest Cache
.pytest_cache/

# Python packaging artifacts
*.egg-info/
build/
dist/

# Node.js / React
# Dependency directories
**/node_modules

# Frontend build output
/frontend/build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & IDE specific files
.vscode/
.idea/
*.swp
*~
# VS Code history extension folder
.history/

# Operating System specific files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Application Data
/backend-data/
